.content {
  padding: 20px;
}
.header {
  margin-bottom: 10px;
  color: #636363;
}
.form-header{ 
  color: #636363;
}

#button-holder {
  width: 200px;
  margin: auto;
  display: block;
}

.chosen {
  background-color: darkred;
  color:white;
}

#table-holder{
  margin-top: 50px;
}

.loader {
  border: 10px solid #fff; 
  border-top: 10px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin: auto;
  animation: spin 2s linear infinite;
}
 @keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
