
body {
  /* background-color: #8E8583; */
    background-color: #3366ff;
    background: linear-gradient(to right, #3366ff, 	#00ff99);
    margin-left: 40px;
}

body h1 {
  margin: 10;
  padding: 20px;
  font-family: sans-serif;
  color: #FFA500;

  font-size: 2.4em;
  font-weight: normal;
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
  display: inline-block;
  align-self: center;
  margin-left: 40px;

}
body label{
  font-size: 20px;
}


body input {
  color:#046380;
  margin: 5px;
  font-size: 20px;
  margin-right: 200px;
  /* margin-left: 40px; */
}

body div {
  margin: 0;
  padding: 5px;
  font-family: sans-serif;
  color: #FFA500;
  /* margin-left: 10px; */
}
input:focus {
    background-color: #f0f0f5;
}



body div option {
  color:#046380;
  background-color: DodgerBlue;
  font-size: 25px;
}

body div select{
  color:Black;
  background-color: MediumSeaGreen;
  font-size: 25px;
}

.hide-me {
  visibility: hidden;
  opacity: 0;
  transform: scale(.75);
}


button {
  background-color: DodgerBlue;
  color: black;
  border: none;
  padding: 10px 15px;
  font-size: 15px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  box-shadow: 2px 2px 0 #034154;
  margin-bottom: 10px;
  margin-top: 20px;
  /* margin-left: 18px; */
  transition: opacity 4s ease-out, transform .4s ease-out, visibility .4s ease-out;
  position: relative;

}

button:hover {
  background-color: #034F66;
}
